/* your code here */
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(27, 25, 25);
    color: white;
}
.link-boxes{
    display: flex;
    justify-content: space-around;
    background-color: rgb(27, 25, 25);
    color: white;
}
p{
    margin: 15px;
}
.bottom-details{
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    color: black;
}
a{
    text-decoration: none;
    color: white;
}

img{
    width: 30px;
    border-radius: 50%;
    margin: 5px;
    padding: 5px;
}
.logo_name{
    font-weight: bolder;
    font-size: 40px;
    margin: 5px;
    padding: 5px;
}